html {
  height: 100%;
  width: 100%;
}

#chessBoard {
  width: 600px;
  height: 600px;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 75px;
  height: 75px;
}

.black {
  background-color: #769656;
}

.white {
  background-color: #dbdbb4;
}

.square svg {
  height: 45px;
  width: 45px;
  margin: 15px;
}

.blackPiece {
  fill: black;
}

.whitePiece {
  fill: white;
}
svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.selectedSquareBlack {
  background-color: #597141;
  outline: 2px solid #334125;
  outline-offset: -2.5px;
}
.selectedSquareWhite {
  background-color: #cdcd98;
  outline: 2px solid #78783a;
  outline-offset: -2.5px;
}

.validTakes{
  border-radius: 20px;
}

.validSquares{
  outline: 3px solid #1B4965;
  outline-offset: -30px;
}

body {
  background-image: url("chess-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
