html {
  height: 100%;
  width: 100%;
}

#chessBoard {
  position: absolute;
  width: 600px;
  height: 600px;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
}
#chessBoard1 {
  position: fixed;
  width: 600px;
  height: 600px;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 75px;
  height: 75px;
}

.black {
  background-color: #769656;
}

.white {
  background-color: #dbdbb4;
}

.square svg {
  height: 45px;
  width: 45px;
  margin: 15px;
}

.blackPiece {
  fill: black;
}

.whitePiece {
  fill: white;
}
svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.selectedSquareBlack {
  background-color: #597141;
  outline: 2px solid #334125;
  outline-offset: -2.5px;
}
.selectedSquareWhite {
  background-color: #cdcd98;
  outline: 2px solid #78783a;
  outline-offset: -2.5px;
}

.validTakes {
  border-radius: 20px;
}
.kingincheck svg {
  filter: drop-shadow(0px 0px 15px rgb(228, 4, 23));
}

.validSquares {
  outline: 3px solid rgb(0, 73, 15);
  outline-offset: -30px;
  border-radius: 50%;
}

body {
  background-image: url("chess-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.square1 {
  background-color: rgb(172, 68, 68);
  height: 75px;
  width: 75px;
}
.popupBoxhidden{
  width : 1350px;
  height : 620px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  
}
.popupBoxshow{
  width : 1350px;
  height : 600px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  
}
.popBox{
  margin : auto;
  width : 250px;
  height: 250px;
  background-color: rgba(204, 203, 203, 0);
  display: flex;
  flex-wrap: wrap;
  
}
button {
  border : 1px solid rgb(0, 0, 0);
  width: 125px;
  height: 125px;
  outline: 3px solid rgb(117, 102, 102);
  outline-offset: -25px;
  border-radius: 50%;
}

.popBox img{
  width : 60px;
  height: 60px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.6));
}
